doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        style
            include styles.css
    body 
        center 
            h1 Hello
            p This is a Pug template
            table 
                thead 
                    tr 
                        th Name
                        th Email
                        th Phone
                        th Date
                        th Time
                        th Party
                tbody         
                    each book in books
                        tr 
                            td= book.name
                            td= book.email
                            td= book.phone
                            td= book.date
                            td= book.time
                            td= book.party