<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin: Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <div
      class="flex h-[10%] p-5 items-center justify-between w-screen bg-[url('/bg.svg')] bg-no-repeat bg-cover"
    >
      <div class="navbar">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/admin/"
            >Welcome to InventMS</a
          >
        </div>
        <div class="flex-none">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar online">
              <div class="w-10 rounded-full">
                <img src="https://placeimg.com/80/80/people" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li>
                <a class="justify-between">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a href="/admin/storage">Storage</a></li>
              <p></p>
              <li><a href="/admin/items">Add Items</a></li>
              <li><a href="/admin/orders">Orders</a></li>
              <li><a href="/admin/add-order">Add Order</a></li>
              <li><a href="/admin/shipments">Shipments</a></li>
              <li><a href="/admin/add-shipment">Add Shipment</a></li>
              <li><a href="/admin/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col h-[90%] w-screen items-center justify-between">
      <div
        class="flex w-screen h-[10%] justify-between text-center items-center p-5"
      >
        <div class="text-xl">Shipping</div>
        <div class="">
          <a href="/admin/items" class="btn btn-primary">ADD </a>
        </div>
      </div>
      <div class="overflow-x-auto h-[90%] w-full p-5">
        <table
          class="table w-full table-zebra table-compact hover items-center"
        >
          <thead>
            <tr>
              <th>Shipping ID</th>
              <th>Shipping Date</th>
              <th>Order No</th>
              <th>Shipping Days</th>
              <th>Modify</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% shipments.forEach(function(shipment) { %>
            <tr>
              <td><%= shipment.id %></td>
              <td><%= shipment.shipmentDate %></td>
              <td><%= shipment.orderNo %></td>
              <td><%= shipment.ship_time %></td>
              <td>
                <a href="/admin/shipment/edit/<%= shipment.id %>">
                  <img src="/edit.svg" alt="edit" width="30px" height="30px" />
                </a>
              </td>
              <td>
                <a href="/admin/shipment/delete/<%= shipment.id %>">
                  <img
                    src="/delete.svg"
                    alt="delete"
                    width="30px"
                    height="30px"
                  />
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
